/* --------------- */
/* Import          */
/* --------------- */

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime&display=swap");

/* --------------- */
/* Variables       */
/* --------------- */

:root {
  --clr-accent: 0, 255, 0;
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-1: rgba(7, 16, 22);
  --color-primary-2: rgba(24, 32, 37);
  --color-primary-3: rgba(36, 51, 61);
  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #3d0264;

  --color-secondary-1: rgba(187, 215, 235);

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: rgb(204, 89, 127);
  --color-error-500: rgb(59, 6, 27);
}

/* --------------- */
/* Reset           */
/* --------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* Body setup      */
/* --------------- */

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  background: var(--color-primary-1);
  color: var(--color-secondary-1);
}
/* --------------- */
/* nextjs only - remove eventually   */
/* --------------- */
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --------------- */
/* Utility classes */
/* --------------- */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ---------------- CodeMirror Editor -------------------- */

/* Overwrite codemirror styles */
/* .cm-s-default .cm-string {
  color: green !important;
} */

/* Ovewrite styles in material theme */
.cm-s-material.CodeMirror {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Courier Prime", monospace;
  /* height: auto; --- work out with container */
  height: auto;
  padding-bottom: 2rem;
}
/* .cm-s-material.CodeMirror {
    background-color: #9c1769 !important;
    color: #eeffff;
  } */
