/* --------------- */
/* Import          */
/* --------------- */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --------------- */
/* Variables       */
/* --------------- */

:root {
  /* currently used */
  --clr-accent: 0, 255, 0;
  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: rgb(204, 89, 127);
  --color-error-500: rgb(59, 6, 27);

  /* figma mockup imports */
  --color-violet-500: hsl(270, 100%, 36%);
  --color-violet-600: hsl(270, 100%, 26%);

  --color-marine-300: hsl(190, 100%, 65%);

  --color-blue-400: hsl(210, 83%, 53%);

  --color-purple-400: hsl(292, 100%, 51%);
  --color-purple-500: hsl(292, 100%, 25%);
  --color-purple-600: hsl(292, 100%, 18%);
  --color-purple-700: hsl(292, 100%, 6%);
  --color-purple-800: hsl(292, 100%, 3%);

  --color-magenta-200: hsl(330, 100%, 65%);
  --color-magenta-300: hsl(330, 100%, 53%);
  --color-magenta-700: hsl(330, 100%, 18%);
  --color-magenta-800: hsl(330, 100%, 9%);
  --color-magenta-900: hsl(330, 100%, 3%);

  /* text colors */
  --text-primary-1: hsl(0, 0%, 100%);
  --text-secondary-1: hsl(330, 30%, 85%);

  /* test colors */
  --color-primary-1: rgba(7, 16, 22);
  --color-primary-2: rgba(24, 32, 37);
  --color-primary-3: rgba(36, 51, 61);
  --color-secondary-1: rgba(187, 215, 235);
}

/* --------------- */
/* Reset           */
/* --------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* Body setup      */
/* --------------- */

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background: var(--color-purple-800);
  color: var(--text-primary-1);
}
/* --------------- */
/* nextjs only - remove eventually   */
/* --------------- */
#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --------------- */
/* Utility classes */
/* --------------- */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ---------------- CodeMirror Editor -------------------- */

/* Overwrite codemirror styles */
/* .cm-s-default .cm-string {
  color: green !important;
} */

/* Ovewrite styles in material theme */
.cm-s-material.CodeMirror {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Courier Prime', monospace;
  /* height: auto; --- work out with container */
  height: auto;
  padding-bottom: 2rem;
}
/* .cm-s-material.CodeMirror {
    background-color: #9c1769 !important;
    color: #eeffff;
  } */
