.root {
  /* border: 1px solid orange; */
  padding: 4rem;
  color: steelblue;
  max-width: 100%;
}
.requestNav ul {
  display: flex;
  padding: 1rem 0;
}
.requestNav li {
  margin: 0.5rem 1rem 0.5rem 0;
}
.navLi {
  color: lightblue;
  cursor: pointer;
}
.navLiActive {
  color: lime;
  cursor: default;
}
.output {
  color: steelblue;
}
.root form {
  display: flex;
  align-items: stretch;
}
.urlForm {
  padding: 0 1.3rem;
  min-width: max-content;
}
.urlForm > * {
  border-radius: 3px;
}
.urlForm input {
  padding: 0.5rem;
}
.urlForm button {
  padding: 0 1rem;
}
/* ----------------- Custom SELECT - REQ METHOD ------------------------ */
.selectWrapper {
  position: relative;
  margin-right: 1rem;
}
.selectWrapper:hover {
  outline: 1px solid rgba(44, 235, 123, 0.6);
}
.select {
  height: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem; /* make sure padding right prevents customArrow to cover longer labels */
  background-color: rgb(25, 39, 44);
  color: rgb(139, 221, 241);
  box-shadow: 0 0 20px rgba(44, 235, 123, 0.2);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0; /* for firefox */
  cursor: pointer;
  /* appearance: none; */
}
.select:focus,
.select:active {
  outline: 1px solid rgba(44, 235, 123, 0.3);
}
.customArrow {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.3rem;
  background-color: rgb(38, 59, 66);
  pointer-events: none;
}
.customArrow:before,
.customArrow:after {
  --size: 0.3rem;

  content: "";
  position: absolute;
  left: 50%;

  transform: translate(-50%, -50%);
}
.customArrow:before {
  border-left: var(--size) solid rgba(44, 235, 123, 0);
  border-right: var(--size) solid rgba(44, 235, 123, 0);
  border-bottom: var(--size) solid rgba(44, 235, 123, 0.5);

  top: 40%;
}
.customArrow:after {
  border-left: var(--size) solid rgba(44, 235, 123, 0);
  border-right: var(--size) solid rgba(44, 235, 123, 0);
  border-top: var(--size) solid rgba(44, 235, 123, 0.5);

  top: 60%;
}

/* -------------------- Custom TEXT INPUT - REQ URL --------------------- */
.urlWrapper {
  width: 100%;
  position: relative;
  margin-right: 1rem;
  box-shadow: 0 0 20px rgba(44, 235, 123, 0.2);
}
.url {
  width: 100%;
  height: 100%;

  /* hide original input with transparence */
  background: rgba(0, 0, 0, 0);
  color: rgba(20, 175, 46, 0);

  /* make carret visible */
  caret-color: greenyellow;

  /* sync styles with mask to zero in carret */
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  padding: 0.4rem;
  padding-left: 3rem;

  border: none;
}
.url:active,
.url:focus {
  outline: 1px solid rgba(44, 235, 123, 0.3);
}
.url:hover {
  outline: 1px solid rgba(44, 235, 123, 0.6);
}
.urlMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: rgb(181, 245, 253);
  background: rgb(38, 59, 66);

  /* sync styles with original input to zero in carret */
  padding: 0.4rem;
  letter-spacing: 1px;
}
/* ----------------------------------------------------------------------------------------------- */
.sendBtn {
  background-color: rgb(25, 39, 44);
  color: rgb(139, 221, 241);
  border: none;
}
.sendBtn:hover {
  background-color: rgb(44, 69, 78);
  color: rgb(234, 241, 243);
  border: none;
  cursor: pointer;
}
.responseInfoContainer {
  display: flex;
  padding: 0.5rem 0;
  font-size: 1rem;
  margin: 1rem 0;
}
.responseInfoContainer > * {
  margin-right: 2rem;
}

/* 

Proxy control

*/
.styledProxy {
  padding: 1.5rem;
  background: rgb(24, 32, 37);
  color: hsl(317 100% 54%);
  font-family: "Balsamiq Sans", cursive;
  margin: 3rem 0;
}
.proxyBtn {
  font-size: 1.2rem;
  padding: 0.25em 1em;
  color: hsl(317 100% 54%);
  display: inline-block;
  cursor: pointer;
  border: 2px solid hsl(317 100% 54%);
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.4), 0 0 0.45em hsl(317 100% 54%);
  box-shadow: inset 0 0 0.4em 0 hsl(317 100% 54%), 0 0 0.4em 0 hsl(317 100% 54%);
  position: relative;
}
.proxyBtnActive {
  font-size: 1.2rem;
  padding: 0.25em 1em;
  background: hsl(317 100% 54%);
  color: rgb(24, 32, 37);
  display: inline-block;
  cursor: pointer;
  border: 2px solid hsl(317 100% 54%);
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.4em 0 hsl(317 100% 54%), 0 0 0.4em 0 hsl(317 100% 54%);
  position: relative;
}
.proxyBtn::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background: hsl(317 100% 54%);
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.65;
}
.proxyBtnActive::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background: hsl(317 100% 54%);
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 1;
}
.proxyBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.3em hsl(317 100% 54%);
  opacity: 0;
  transition: all 200ms linear;
}
.proxyBtnActive::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 2em 0.3em hsl(317 100% 54%);
  opacity: 1;
  transition: all 200ms linear;
}
