.root {
  padding: 2rem 0;
  /* border: 1px solid blue; */
  max-width: 100%;
  background: rgb(24, 32, 37);
}

.h5 {
  margin: 1rem 0;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.headersRow {
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0.5rem;
  border-radius: 6px;
  color: rgba(var(--clr-secondary), 1);
}
.headersRow:hover > * {
  color: rgba(var(--clr-accent), 1);
  /* color: lime; */
}

.headersCol {
  padding: 0.5rem;
  overflow-wrap: break-word;
  background: rgba(var(--clr-primary-2), 1);
}
.timingSpan {
  margin-right: 2rem;
}
