.root {
  width: 100%;
  /* border: 1px solid green; */
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  margin-top: 2rem;
  /* border: 1px solid red; */
  padding: 3rem;
  background-color: rgb(7, 16, 22);
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.drawer {
  background-color: rgb(7, 16, 22);
}
.folderDrawerTab {
  font-size: 1rem;
  color: white;
  padding: 0.3rem 0;
}
.reqDrawerTab {
  font-size: 0.85rem;
  color: rgb(161, 161, 161);
  padding: 0 1rem;
}
