.root {
  width: 100%;
  /* border: 1px solid green; */
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  margin-top: 2rem;
  /* border: 1px solid red; */
  padding: 3rem;
  background-color: rgb(7, 16, 22);
  display: grid;
  grid-template-columns: 15% 85%;
}

.drawer {
  background-color: rgb(7, 16, 22);
  /* border: 1px solid blue; */
}
.drawer > * > * > *,
.drawer > * > * > * > * {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.folderDrawerTab {
  font-size: 1rem;
  color: white;
  padding: 0.3rem 0;
}
.reqDrawerTab {
  font-size: 0.85rem;
  color: rgb(161, 161, 161);
  padding: 0 1rem;
}
.reqLooseTab {
  font-size: 0.85rem;
  color: rgb(161, 161, 161);
}
.addRequestTab {
  font-size: 0.85rem;
  color: rgb(100, 184, 121);
  padding: 0 1rem 2rem;
}
.newRequestRoot {
  border: 1px solid rgb(127, 155, 160);
  padding: 3rem;
}
/* .workbench {
  width: 100%
} */
