.container {
  width: 100%;
  /* border: 1px solid green; */
}
.root {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  /* border: 1px solid red; */
  padding: 1rem 3rem;
  background-color: rgb(7, 16, 22);
}

.capitalize {
  text-transform: uppercase;
}
